@import 'tailwindcss';
@config "../tailwind.config.js";

body {
  @apply bg-gradient-dark relative overflow-hidden flex items-center justify-center min-h-screen w-screen font-inter;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  /* Paleta principal */
  --color-primary: #6366F1;
  --color-secondary: #8B5CF6;
  --color-accent: #EC4899;

  /* Cores neutras */
  --color-dark: #0F172A;
  --color-dark-alt: #1E293B;
  --color-light: #F1F5F9;

  /* Texto */
  --text-primary: #E2E8F0;
  --text-secondary: #A5B4FC;
  --text-accent: #F472B6;

  /* Estados */
  --success: #22C55E;
  --warning: #F59E0B;
  --error: #EF4444;

  --spinner-color: #99a1af;
  --card-background: #364153;

  @apply text-white;
}
